    * {
        margin: 0;
        border: 0;
        padding: 0;
        color: white;
    }
    
    body {
        background-color: #453F78;
        text-align: center;
    }
    
    section {
        margin: 20px 0px 20px 0px;
    }
    
    header {
        position: fixed;
        background-color: #373261;
        width: 100%;
        border: solid 1px #69FFF1;
        font-size: 30px;
        text-shadow: 2px;
        z-index: 5;
    }
    
    .left {
        position: fixed;
        float: left;
        background-color: slategrey;
        z-index: 3;
        width: 28%;
        height: 100%;
       
    }
    
    .left02 {
        
        
        position: fixed;
        bottom: 20px;
        /* background-color: rgb(27, 199, 4); */
        z-index: 4;
        width: 28%;
        top: 500px;
        font-family: Verdana;
        font-weight: 900;
        font-size: 25px;
        text-align: left;
        left: 20px;
    }
    
    li {
        list-style: none;
        line-height: 35px;
        font-size: 20px;
    }
    
    #leftDiv {
        position: absolute;
    }
    
    img.img00 {
        border: solid 3px white;
        width: 80%;
        height: 290px;
        top: 50px;
        position: relative;
        border-radius: 250px;
        box-shadow: 5px 15px 10px #453F78;
    }
    
    main, footer {
        border: solid 1px #69FFF1;
        position: relative;
        width: 70%;
        top: 40px;
        left: 29%;
        max-height: max-content;
        box-shadow: 5px 10px 10px #69FFF1;
        margin-bottom: 80px;
    }

    footer{
        height: 100px;
    }
   
    .txt {
        font-size: 20px;
    }
    
    .a10 {
        margin-top: 20px;
    }
    
    img.img01 {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        box-shadow: 5px 3px 10px #69FFF1;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    
    .a {
        width: 10%;
        position: relative;
        left: 35%;
        background-color: rgb(10, 126, 10);
        border-radius: 15px;
        border-style: groove;
        width: 195px;
        border-width: 3px;
        border-color: rgb(255, 238, 3);
        border-image: initial;
        padding: 15px;
        border-radius: 50px 20px;
    }

    .b {
        width: 10%;
        position: relative;
        left: 50%;
       
        background-color: rgb(10, 126, 10);
        
        border-radius: 15px;
        border-style: groove;
        width: 195px;
        border-width: 3px;
        border-color: #a5f7ec;
        border-image: initial;
        padding: 15px;
        border-radius: 50px 20px;
    }
    
    .a:hover {
        font-weight: 1000;
    }
    
    .b:hover {
        font-weight: 1000;
    }
    /* NAO FUNFA O bbbbbbbbbb PQ ?????????? */
    
    /* .b {
        width: 195px;
        position: relative;
        left: 50%;
        z-index: -1;
        background-color: rgb(10, 126, 10);
        border-radius: 15px;
        border-color: #a5f7ec;
        border-style: groove;
        border-width: 3px;
        padding: 15px;
        border-radius: 50px 20px;
    } */

    .h{
        font-size: 35px;
        font-weight: 900;
    }

    b {
        font-size: 25px;
        font-weight: 900;
    }